<div id="new-review">

  <form class="form-horizontal">
    <div class="form-group">
      <label for="rating_out_of_ten" class="sr-only control-label"></label>
      <div class="col-sm-1">
        <select class="form-control" name="rating_out_of_ten" id="rating_out_of_ten">
          <option>Rating</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>

      <label for="text" class="sr-only control-label"></label>
      <div class="col-sm-11">
        <input type="text" placeholder="Add a review.." class="form-control" name="text" id="review-text" required="required">
      </div>
    </div>
    
    <div class="col-sm-12">
      <button class="btn btn-default review-btn" id="add-review"></button>
    </div>
  </form>
</div>