<div class="form-inline">
  <div class="form-group">
    <label for="search-text" class="sr-only"></label>
    <input type="text" class="form-control" placeholder="Search" id="search-text">
  </div>
  <label for="runtime" class="sr-only"></label>
  <select class="form-control" id="search-runtime">
    <option>Runtime</option>
    <option>Under 90 min</option>
    <option>90-120 min</option>
    <option>Over 120 min</option>
  </select>
  <button class="btn btn-default" id="search">Search</button>
</div>