<div class="col-md-2">
  <%= render 'new_movie_modal' %>
</div>

<div class="col-md-12 search-form">
<!-- render search form -->
</div>

<div class="col-md-12" id="results">
  <!-- Index/Search/Show results -->

  <% if @movies %>
    <% @movies.each do |movie| %>
      <%= render partial: 'movie', locals: {movie: movie} %>
    <% end %>
  <% end %>

</div>

<div id="reviews">

  <div class="col-sm-12">
    <h2>Reviews</h2>
  </div>

  <div class="col-sm-12">
    <% if current_user %>
      <%= render 'new_review_form' %>
    <% else %>
      <p><%= link_to 'Log in', new_session_path %> to add a review! </p>
    <% end %>
  </div>

  <div id="show-reviews">
  </div>

</div>
