<div class="col-md-10">
  <h1></h1>
</div>

<div class="col-md-2">
  <%= render 'new_movie_modal' %>
</div>

<div class="col-md-12 search-form">
  <%= render 'search_form' %>
</div>

<div class="col-md-12" id="results">
  <!-- Index/Search/Show results -->
</div>

<div class="col-md-12" id="reviews">
  
  <h2>Reviews</h2>

  <div class="col-sm-12">
    <% if current_user %>
      <%= render 'new_review_form' %>
    <% else %>
      <p><%= link_to 'Log in', new_session_path %> to add a review! </p>
    <% end %>
  </div>

  <div class="col-sm-12" id="show-reviews">
  </div>

</div>
