// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-poster-img {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.index-poster-img {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.search-form {
}

.movie-row {
  border-bottom: 1px solid #BDBDBD;
}