<h1>Users</h1>
<hr>

<%= link_to "Add a user", new_admin_user_path %>
<hr>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created</th>
    <th>Admin?</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @users.each do |user| %>
    <%= render partial: 'user', locals: { user: user } %>
  <% end %>
</table>

<br>
<%= paginate @users %>
<%= page_entries_info @users %>
<hr/>